:root {
    /* --whilte : #fff; */
    --blue: #1e90ff;
    --white: #ffffff;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

button {
    padding: 5px 10px;
    width: 100px;
    border: 1px solid;
    font-size: 18px;
}

label {
    display: block;
    margin: 5px 0;
}

input,
select {
    width: 250px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    background-color: transparent;
    border: 1px solid;
}

select {
    width: 200px;
}

textarea {
    padding: 10px;
    font-size: 15px;
    resize: none;
    background-color: transparent;

}