.drop-component {
    width: 100%;
    height: 70vh;
    /* background-color: orange;  */
    margin: 0 auto;
    top: 50%;
}

.drop-drop {
    width: 1200px;
    padding: 60px;
    border-radius: 10px;
    /* height: 100vh; */
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
.drop-drop .drop-card {
    width: 32%;
    border-radius: 10px;
    /* background-color: aqua; */
    text-align: center;
}

.drop-card-image {
    width: 100%;
    /* object-fit: cover; */
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    /* position: relative; */
}



.drop-card-image img {
    /* position: absolute; */
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.drop-card-image:hover img{
    transform: scale(1.1);
    transition: 1s ease all;
} 

.drop-card-select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.drop-card-select select{
    width: 100%;
    border-radius: 10px;

}

.drop-card-select select:hover{
    width: 100%;
    border-radius: 10px;
    transition: 1s;

}

.text-center a button{
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: lightgreen;
}

.text-center a button:hover{
    background-color:lightseagreen;
    transition: 1s ease all;
}