.forgot-pass {
   
}



.forgot-pass .email_section, .otp_section, .newpass_section {
    width: 400px;
    margin: auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .forgot-pass h1 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
  }

  .newpass_section .newpass_p{
    background-color: lightblue;
    margin-top: 10px;
    border-radius: 10px;
  }

  .forgot-pass p {
    font-size: 0.9rem;
    color: #333;
    text-align: center;
    padding: 10px;
  }

  .forgot-pass form {
    margin-top: 10px;
  }

  .forgot-pass form .input-box {
    width: 100%;
    margin-top: 10px;
  }

  .forgot-pass form .input-box label {
    color: #333;
  }
  .forgot-pass form :where(.input-box input) {
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  
  .forgot-pass form .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }

  .forgot-pass form button{
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    /* background: rgb(130, 106, 251); */
    background: #544296;
  }
  .forgot-pass form button:hover {
    background: rgb(88, 56, 250);
  }

  .otp_btngrp{
    display: flex;
    gap: 10px;
  }

  .user-box {
    margin-top: 20px;
  }

  .forgot-pass .email_section :where(.user-option, .user) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }

  .forgot-pass .email_section .user {
    column-gap: 5px;
  }
  
  .forgot-pass .email_section .user input {
    accent-color: rgb(130, 106, 251);
  }
  
  .forgot-pass .email_section :where(.user input, .user label) {
    cursor: pointer;
  }
  
  .user label {
    color: #333;
  }

  