{% load static %}
<section>
  <div class="drop-component">
    <div class="drop-content">
      <!-- <div>
        <h1 class="text-center">Drop Data Do Static files Permanent </h1>
      </div> -->
      <div class="drop-drop flex">
        <div class="drop-card">
          <div class="drop-card-image">
            <img src="{% static 'images/cab1.webp' %}" alt="Brand" />
          </div>
          <div class="drop-card-select">
            <select name="">
              <option value="tata">Brand</option>
              <option value="tata">Tata</option>
              <option value="mahindra">Mahindra</option>
              <option value="thaar">Thaar</option>
            </select>
          </div>
        </div>
        <div class="drop-card">
          <div class="drop-card-image">
            <img src="{% static 'images/cab2.webp' %}" alt="Color" />
          </div>
          <div class="drop-card-select">
            <select name="">
              <option value="red">Color</option>
              <option value="red">Red</option>
              <option value="orange">Orange</option>
              <option value="pink">Pink</option>
            </select>
          </div>
        </div>
        <div class="drop-card">
          <div class="drop-card-image">
            <img src="{% static 'images/cab1.webp' %}" alt="price" />
          </div>
          <div class="drop-card-select">
            <select name="">
              <option value="10">KM</option>
              <option value="10">10</option>
              <option value="12">12</option>
              <option value="15">15</option>
            </select>
          </div>
        </div>
      </div>
      <div>
        <div class="text-center">
          <a href="{% url 'all-show' %}"><button>Drop</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
