{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/index/nav.css' %}">
    <link rel="stylesheet" href="{% static '/css/index/search.css' %}">
    <link rel="stylesheet" href="{% static '/css/index/drop.css' %}">
    <link rel="stylesheet" href="{% static '/css/index/map.css' %}">
    <link rel="stylesheet" href="{% static '/css/index/footer.css' %}">
    <link rel="stylesheet" href="{% static '/css/index/auth.css' %}">
    <link rel="stylesheet" href="{% static '/css/index/pages/about.css' %}">
    <link rel="stylesheet" href="{% static '/css/index/pages/all_data.css' %}">

    
    
    <title>Document</title>
  </head>