<section>
  <div class="map-component">
    <div class="map">
      <h1>Explore Your Location</h1>
      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9411.078030748778!2d77.39073788103161!3d23.22893061125659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1708856836244!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>

    </div>
    
    <a href="{% url 'map-single-detail' %}"> <button> Map Search </button> </a>
  </div>
</section>