{% load static %}
<section>
  <div class="nav-component flex">
    <input type="checkbox" id="check" />
    <div class="nav-left">
      <a href="{% url '' %}">
        <img src="{% static 'images/logo/nav_logo.png' %}" alt="Logo" />
      </a>
    </div>
    <div class="nav-right flex">
      <div>
        <a href="{% url '' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="#footer">Contact</a>
      </div>
      <div class="nav-right-btns">
        <form action="{% url 'auth' %}" method="post">
          {% csrf_token %}
          <button name="autu_btn" value="in">Signin</button>
          <button name="autu_btn" value="up">Signup</button>
        </form>
      </div>
    </div>
    <label for="check" class="nav-menu">
      <img src="{% static 'images/nav-menu.png' %}" alt="Menu" />
    </label>
  </div>
</section>