{% extends '../index/base.html' %} 
{% load static %}
{% block Data %}
<section class="all_data-section">
  <div>
    <div class="cards">
      <div>


        <div class="card flex">
          <div class="car-images all_data-data-container">
            <img src="{% static 'images/car1.jpg' %}" alt="" />
          </div>
          <div class="car-detail all_data-data-container">
            <div class="car-detail-input_field">
              <input type="text" placeholder="Car Name" />
              <input type="text" placeholder="Car Color" />
            </div>
            <div class="car-detail-input_field">
              <input type="text" placeholder="From" />
              <input type="text" placeholder="To" />
            </div>
            <div class="car-detail-radiobtn flex">
              <input style="width: 20px;" type="radio" name="car-detail_way" id="radiobtn1" checked />One way
              <input style="width: 20px;" type="radio" name="car-detail_way" />Two way
            </div>
            <div class="car-detail-date_time">
              <input type="datetime-local" />
            </div>
          </div>
          <div  class="car-owner_detail all_data-data-container flex">
            <img src="{% static 'images/manprofile.jpeg' %}" alt="" />
            <div class="desc">
              <h3>Ram Kumar</h3>
              <a href="{% url 'product-details' %}">
                <button>More Detail</button>
              </a>
            </div>
          </div>
        </div>



        <div style="text-align: center">
         <a href="{% url 'book-now' %}"><button class="bookbtn" value="">Book Now</button></a> 
        </div>
      </div>

      <!-- second card -->
      <div>
        <div class="card flex">
          <div class="car-owner_detail all_data-data-container flex">
            <img src="{% static 'images/manprofile.jpeg' %}" alt="" />
            <div class="desc">
              <h3>Ram Kumar</h3>
              <a href="{% url 'product-details' %}">
                <button>More Detail</button>
              </a>
            </div>
          </div>

          <div class="car-detail all_data-data-container">
            <div class="car-detail-input_field">
              <input type="text" placeholder="Car Name" />
              <input type="text" placeholder="Car Color" />
            </div>
            <div class="car-detail-input_field">
              <input type="text" placeholder="From" />
              <input type="text" placeholder="To" />
            </div>
            <div class="car-detail-radiobtn flex">
              <input style="width: 20px;" type="radio" name="car-detail_oneway" checked />One way
              <input style="width: 20px;" type="radio" name="car-detail_oneway" />Two way
            </div>
            <div class="car-detail-date_time">
              <input type="datetime-local" />
            </div>
          </div>
          <div class="car-images all_data-data-container">
            <img src="{% static 'images/car1.jpg' %}" alt="" />
          </div>
        </div>
        <div style="text-align: center">
          <a href="{% url 'book-now' %}"><button class="bookbtn" value="">Book Now</button></a> 
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
