{% extends "base/index/base.html" %}

{% block Data %}

    <section>
        <div>
            <h1>Book Your Car</h1>
            <form action="">
                <div>
                    <input type="text" value="">
                    <label for="">Name</label>
                </div>
            </form>

            
            
        </div>
    </section>
    
    {% endblock  %}
    <!-- <div>
        <h1> Book Page </h1>
        <a href="{% url 'payment-done' %}"> <button> Pay Now </button> </a>
    </div> -->